<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Dashboard</title>
</head>
<style>

body{
 padding :0;
 margin : 0;
}
h1{
 padding-left: 10px;
}
</style>

<body>
<%- include('header.ejs') %>







<br><br><br><br><br>
    <h1>Survey Dashboard</h1>

    <iframe width="1000" height="600" src="https://lookerstudio.google.com/embed/reporting/f2dafdcf-fa12-4e6e-a8d0-9a5ae6c6c622/page/VKM2D" frameborder="0" style="border:1" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>

</body>
</html>
