<!DOCTYPE html>
<html>
<head>
  
    <style>
        /* Inline CSS for header */
        .h {
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .u {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .l {
            float: left;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>
    <header class="h">
        <nav class="n">
            <ul class="u">
                <li class="l"><a href="/home" >Home</a></li>
                <li class="l"><a href="/survey">Survey</a></li>
                <li class="l"><a href="/dashboard">Dashboard</a></li>
                <!-- Add other navigation links here -->
            </ul>
        </nav>
    </header>
</body>
</html>