<html>
<head>
<title> Submitted </title>
</head>

<body>
<%- include('header.ejs') %>

<center>

<h1> Thanks! <%=username%> , for your valuable time ! <br>This will definately help us to serve you better way!! </h1>
</center>
</body>
</html>